{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Mon Profil</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Prénom :</th>
                            <td>{{ user.prenom }}</td>
                        </tr>
                        <tr>
                            <th>Nom :</th>
                            <td>{{ user.nom }}</td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Rôles :</th>
                            <td>
                                {% for role in user.roles %}
                                    <span class="badge bg-primary">{{ role }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                    
                    <div class="mt-3">
                        <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}